#main{
    /* background-color: wheat; */
    width: 1280px;
    height: 100%;
    margin: 25px 170px 0 100px;
    display: flex;
}
#playing_video_section{
    /* background-color: brown; */
    height: 100%;
    width:900px;
    margin-right: 25px;
}
#recommended_videos{
    /* background-color: rgb(136, 66, 66); */
    height: 100%;
    width: 380px;
}
#playing_video{
    width: 100%;
    position: relative;
}
#playing_video_img{
    width: 100%;
    border-radius: 15px;    
}
#bottom_section{
    position: absolute;
    bottom: 4px;
    left:0;
    right:0;
    height:50px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius: 15px;
    /* border:2px solid aqua; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
#right_icons, #left_icons{
    display: flex;
    align-items: center;
    position: absolute;
}
#left_icons{
    flex:1
}
#right_icons{
    width: 300px;
    right: 0;    
}
#play_icon_div{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 14px;
    position: relative;
}
#play_icon, #play_next_icon{
    width:33px;
    opacity: 0.85;
    transition: opacity 0.15s;
}
#play_next_video{
    width: 322px;
    height: 210px;
    top: -235px;
    left: 10px;
    position: absolute;
    background-color: rgb(28, 28, 28);
    opacity: 0.9;
    border-radius: 10px;
    display: none;
}
#play_next_video_p1{
    font-size: 14px;
    color:rgb(183, 182, 182);
    position: absolute;    
    right:31px;
    margin-top: 4px;
}
#play_next_video_p2, #play_next_video_p3{
    color:white;
    position: absolute;    
    font-size: 14px;    
}
#play_next_video_p2{
    top: 8px;
    right:57px;
}
#play_next_video_p3{
    top: 27px;
    right: 65px;
}
#playing_next_img{
    width: 250px;
    position: absolute;
    bottom:1px;
    left:1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#play_next_icon_div:hover #play_next_video{
    display: block;
}
#play_icon_tooltip, #sound_icon_tooltip, #toggle_icon_tooltip, #caption_icon_tooltip, #settings_icon_tooltip, #miniplayer_icon_tooltip, #theater_mode_icon_tooltip, #full_screen_icon_tooltip{
    position: absolute;
    top:-45px;
    white-space: nowrap;
    font-size: 13px;
    padding: 5px 8px 5px 8px;
    opacity: 0;
    transition: opacity 0.15s;
    background-color: rgb(28, 28, 28);
    color:white;
    border-radius: 4px;
    pointer-events: none;
}
#play_icon_div:hover #play_icon_tooltip,#sound_icon_div:hover #sound_icon_tooltip, #toggle_icon_div:hover #toggle_icon_tooltip, #caption_icon_div:hover #caption_icon_tooltip, #settings_icon_div:hover #settings_icon_tooltip, #miniplayer_icon_div:hover #miniplayer_icon_tooltip, #theater_mode_icon_div:hover #theater_mode_icon_tooltip, #full_screen_icon_div:hover #full_screen_icon_tooltip{
    opacity: 1;
}
#play_next_icon_div, #sound_icon_div, #toggle_icon_div, #caption_icon_div, #settings_icon_div, #miniplayer_icon_div, #theater_mode_icon_div, #full_screen_icon_div{
    display: flex;
    align-items: center;    
}
#sound_icon{
    width:25px;
    opacity: 0.85;
    transition: opacity 0.15s;
}
#sound_icon:hover, #play_icon:hover, #play_next_icon:hover, #settings_icon:hover, #miniplayer_icon:hover, #theater_mode_icon:hover, #full_screen_icon:hover{
    opacity: 1;
}
#sound_icon_div{
    margin-left: 14px;
    margin-right: 14px;
}
#sound_volume{
    border:2px solid white;
    width: 38px;
    margin-left: 13px;
    display: none;
}
#sound_volume_pointer{
    border:7px solid white;
    border-radius: 7px;
    display: none;
}
#sound_icon_div:hover #sound_volume, #sound_icon_div:hover #sound_volume_pointer{
    display: block;
}
#video_duration_timer{
    color:white;
    font-size: 12px;
    /* margin-right: 390px; */
    white-space: nowrap;
}
#toggle_icon{
    width: 30px;
}
#sound_icon_div, #toggle_icon_div, #caption_icon_div, #settings_icon_div, #miniplayer_icon_div, #theater_mode_icon_div, #full_screen_icon_div{
    position: relative;
    margin-right: 22px;
}
#toggle_icon_tooltip{
    left:-28px;
}
#caption_icon{
    width: 30px;
    opacity: 0.4;
}
#caption_icon_tooltip{
    left:-95px;
}
#settings_icon{
    width: 25px;
    opacity: 0.85;
    transition: opacity 0.15s;
}
#settings_icon_tooltip{
    left:-15px;
}
#miniplayer_icon, #full_screen_icon{
    width: 28px;
    opacity: 0.85;
    transition: opacity 0.15s;
}
#miniplayer_icon_tooltip{
    left:-25px;
}
#theater_mode_icon_div{
    margin-right: 0;
}
#theater_mode_icon{
    width: 34px;
    opacity: 0.85;
    transition: opacity 0.15s;
}
#theater_mode_icon_tooltip{
    left:-37px;
}
#full_screen_icon_div{
    margin-right: 0;
}
#full_screen_icon{
    width: 34px;
    opacity: 0.85;
    transition: opacity 0.15s;
    margin-right: 15px;
    margin-left: 15px;
    animation-duration: 0.4s;
    animation-iteration-count:1;
}
#full_screen_icon_tooltip{
    right: 10px;
}
#full_screen_icon_div:hover #full_screen_icon{
    animation-name: fullscreen;
    animation-timing-function: ease;
}
@keyframes fullscreen
{
    0%   { transform:  translateY(0);
        width: 34px;
        margin-left: 15px;
    }
    50%  { transform: translateY(0);
        width: 37px;
        margin-left: 13.5px;
    }
    100% { transform: translateY(0);
        width: 34px;
        margin-left: 15px;
    }
}
#video_duration{
    position: relative;
    align-self: flex-start;
    
}
#video_duration_line_gray{
    border:3px solid gray;
    width: 823px;    
    margin-left: 54px;
    opacity: 0.5;
}
#video_duration_line_red{
    border:3px solid rgb(255, 0, 0);
    width: 40px;
    position: absolute;
    left:10px;
    top:0;
}
#video_duration_pointer{
    border:6px solid rgb(255, 0, 0);
    border-radius: 6px;
    position: absolute;
    left:50px;
    top:-2.5px;
    z-index: 10;
}
#playing_video_title{
    font-size: 20px;
    font-weight: bold;
    margin:10px 0 10px 3px;
}
#playing_video_below_section{
    display: flex;
    align-items: center;
}
#playing_video_channel{
    display: flex;
    align-items: center;
    margin-right: 28px;
}
#playing_video_channel_img,.comment_channel_img{
    width: 45px;
    border-radius: 45px;
    object-fit: cover;
    cursor: pointer;
}
#playing_video_channel_right{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
#playing_video_channel_name{
    display: flex;
    justify-content: center;
}
#playing_video_channel_name_left{
    font-weight: 500;
    margin-bottom: 4px;
    cursor: pointer;
    position: relative;
    margin-right: 5px;
    white-space: nowrap;
}
#playing_video_channel_name_right{
    position: relative;
}
#playing_video_channel_subscribers{
    font-size: 12px;
    color:rgb(62, 62, 62);
    
}
#playing_video_channel_music_icon{
    width: 10px;
    cursor:default;
    opacity: 0.8;
}
#playing_video_channel_name_tooltip, #playing_video_channel_music_icon_tooltip{
    position: absolute;
    top:-58px;
    background-color: rgb(65, 65, 65);
    white-space: nowrap;
    font-size: 12px;
    font-weight: 300;
    color:white;
    padding: 10px 7px 10px 7px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}
#playing_video_channel_name_tooltip{
    left:5px;
}
#playing_video_channel_music_icon_tooltip{
    left:-65px;
}
#playing_video_channel_name_left:hover #playing_video_channel_name_tooltip, #playing_video_channel_name_right:hover #playing_video_channel_music_icon_tooltip{
    opacity: 0.85;
}
#subscribed_button{
    border:none;
    border-radius: 25px;
    background-color: rgb(234, 232, 232);
    padding: 7px 10px 7px 10px;
    font-size: 15px;
    font-weight:540;
    display: flex;
    align-items: center;
    margin-right: 85px;
    cursor: pointer;
}
#subscribed_button:hover, #like_button:hover, #dislike_button:hover, #share_button:hover, #download_button:hover, #options_button:hover{
    background-color: rgb(203, 201, 201);
}
#subscribed_button_icon{
    width: 25px;
    margin-right: 6px;
}
#subscribed_button_expand_icon{
    width: 25px;
    margin-left: 7px;
}
#like_button, #like_button_div{
    display: flex;
    align-items: center;
}
#like_button_div{
    position: relative;
    margin-right: 10px;
}
#like_button_icon, #dislike_button_icon{
    width:25px;
}
#like_button{
    background-color: rgb(234, 232, 232);
    font-size: 14px;
    font-weight: 500;
    padding: 5px 14px 5px 13px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border:none;
    cursor: pointer;
}
#like_button_icon{
    margin-right: 10px;
}
#dislike_button{
    background-color: rgb(234, 232, 232);
    padding: 3px 17px 3px 13px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border:none;
    cursor: pointer;
}
#like_dislike_line{
    border:1px solid rgb(188, 188, 188);
    width:24px;
    rotate: 90deg;
    position: absolute;
    left:81px;
}
#share_button, #download_button, #options_button{
    display: flex;
    align-items: center;
    padding:7px 14px 7px 14px;
    border:none;
    border-radius: 20px;
    background-color: rgb(234, 232, 232) ;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}
#download_button{
    padding:9px 16px 9px 16px;
}
#share_button_icon{
    width:22px;
    margin-right: 8px;
}
#download_button_icon{
    width: 16px;
    margin-right: 10px;
}
#options_icon{
    width: 22px;
    rotate: 90deg;
}
#options_button{
    border-radius: 30px;
    padding: 8px;
}
#description_section{
    margin-top: 15px;
    background-color: rgb(234, 232, 232) ;
    border-radius: 14px;
    padding: 12px 20px 12px 14px;
    font-size: 14px;
    line-height: 21px;
    width: 850px;
    cursor: pointer;
}
#playing_video_views, #des_more{
    font-weight: bold;
}
#channel_tag{
    font-weight: bold;
    color:rgb(86, 86, 86);
    margin-left: 7px;
}
#channel_des_link, #comment_link{
    text-decoration: none;
}
#channel_des_link:link, #channel_des_link:visited{
    color: blue;
}
#des_tooltip{
    position: absolute;
    top:40px;
    left:252px;
    background-color: rgb(65, 65, 65);
    white-space: nowrap;
    font-size: 12px;
    font-weight: 300;
    color:white;
    padding: 10px 7px 10px 7px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}
#des_first_line{
    position: relative;
}
#des_first_line:hover #des_tooltip{
    opacity: 0.85;
}
#shop_section{
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(208, 207, 207);
}
#shop_first_line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 25px;
    font-weight: bold;
    font-size: 14px;
}
#shop_options{
    width: 18px;
    cursor: pointer;
}
#shop_rest{
    display: flex;
    margin-top: 12px;
    position: relative;
}
.shop_element{
    display: flex;
    align-items: center;
    margin-right: 12px;
    padding: 5px 28px 0 5px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
.shop_element:link, .shop_element:visited{
    color:black;
}
.shop_element:hover{
    background-color: rgb(234, 232, 232) ; 
    z-index: 0;   
}
.shop_element:hover .shop_element_link_section{
    color:blue;
}
.shop_element_img{
    width: 90px;
    height: 90px;
}
.shop_element_right{
    font-size: 14px;
    margin-left: 10px;
    line-height: 21px;
    align-self: flex-start;
}
.shop_element_name{
    white-space: nowrap;
}
.shop_element_details{
    font-weight: bold;
    white-space: nowrap;
}
.shop_element_link_section{
    font-size: 12px;
    display: flex;
    align-items: center;
    color:rgb(86, 86, 86);
}
.shop_icon{
    margin-left: 3px;
    width: 18px;
    opacity: 0.6;
}
#shop_next{
    position: absolute;
    right:-16px;
    top:40px;
    width: 42px;
    height: 42px;
    border-radius: 50%;    
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 50;
}
#shop_next_icon{
    width: 30px;
}
#comments_no_section{
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
#comments_no{
    font-size: 21px;
    font-weight: bold;
    margin-right: 28px;
}
#sort_icon{
    width: 27px;
    margin-right: 7px;
}
#comments_no_right{
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
#sort_icon_tooltip{
    position: absolute;
    top:68px;
    width: 60px;
    background-color: rgb(65, 65, 65);
    font-size: 12px;
    font-weight: 300;
    color:white;
    padding: 10px 7px 10px 7px;
    border-radius: 4px;
    visibility: hidden;
    transition: opacity 0.15s;
    pointer-events: none;
    z-index: 1;
}
#comments_no_right:hover #sort_icon_tooltip{
    visibility: visible;
    opacity: 0.85;
}
#add_comment_section{
    position: relative;
}
#add_comment_div{
    position: absolute;
    top:0;
    left:60px;
}

#add_comment_account{
    background-color: #7A1FA2;
    color:white;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-right: 25px;
}
#add_comment{
    border: none;
    border-bottom: 1px solid rgb(141, 139, 139);
    width: 820px;
    height: 30px;
    font-size: 14px;
}
#add_comment::placeholder{
    font-size: 15px;
}
#add_comment:focus, #add_comment:valid{
    /* border-color: white; */
    border-bottom: 1px solid black;
}
#add_comment_account:hover + #add_comment{
    background-color: aqua;
}
#add_comment:focus ~ #add_comment_cancel_button, #add_comment:valid ~ #add_comment_cancel_button{
    display:inline-block;
}
#add_comment:focus ~ #add_comment_smile, #add_comment:valid ~ #add_comment_smile{
    display: inline-block;
}
#add_comment:focus ~ #add_comment_comment_button, #add_comment:valid ~ #add_comment_comment_button{
    display: inline-block;
}
#add_comment_smile{
    width: 20px;
    height: 20px;
    margin-right: 610px;
    margin-left: 5px;
    margin-top: 5px;
    display: none;
    cursor: pointer;
    padding: 7px;
}
#add_comment_smile:hover{
    background-color: rgb(234, 232, 232) ;
    border-radius: 50%;
}
#add_comment_cancel_button{
    font-weight: bold;
    font-size: 13px;
    padding: 10px 18px 10px 18px;
    border: none;
    border-radius: 20px;
    background-color: white;
    margin-top: 5px;
    display: none;
    cursor: pointer;
}
#add_comment_cancel_button:hover{
    background-color: rgb(210, 208, 208);
}
#add_comment_comment_button{
    font-weight: bold;
    font-size: 13px;
    padding: 10px 18px 10px 18px;
    border: none;
    border-radius: 20px;
    background-color: rgb(234, 232, 232);
    color:rgb(141, 139, 139);
    margin-left: 8px;
    margin-top: 5px;
    display: none;
    cursor: pointer;
}
#comments_section{
    margin-top: 35px;
}
.comment_element{
    display: flex;
    position: relative;
    margin-bottom: 11px;
}
.comment_reply_icon{
    width: 14px;

}
.comment_channel_img{
    align-self: flex-start;
    margin-right: 18px;
}
.comment_element_first_line, .comment_like_section, .comment_pinned, .comment_channel_name{
    display: flex;
}
#comment_link:link, #comment_link:visited{
    color: blue;
}
#comment_link{
    cursor: pointer;
}
.comment_pinned_icon{
    width: 14px;
    height: 14px;
    margin-right: 3px;
}
.comment_element_right{
    line-height: 24px;
}
.comment_pinned, .comment_date{
    align-items: center;
    font-size: 13px;
    color:rgb(52, 52, 52);
    font-weight: 500;
}
.comment_date:hover{
    color:black;
}
.comment_element_first_line{
    cursor: pointer;
}
#main_comment_channel_name{
    color:white;
    background-color: rgb(84, 84, 84);
    padding: 0 8px 1px 6px;
}
.comment_channel_name{
    padding: 0 4px 1px 6px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    align-self: center;
    margin-right: 3px;
    position: relative;
}
.comment_channel_icon{
    width: 14px;
    height: 12px;
    align-self: center;
    margin-left: 6px;
}
.comment_content{
    font-size: 14px;
    width:780px;
    margin-left: 7px;
}
.comment_like_section{
    margin-top: 2px;
    margin-bottom: 2px;
    align-items: center;
    margin-left: 7px;
}
.comment_like_icon, .comment_dislike_icon{
    width: 20px;
    cursor: pointer;
    padding: 5px;
}
.comment_like_no, .comment_reply{
    margin-top: 3px;
    font-size: 13px;
}
.comment_like_no{
    margin-left: 4px;
}
.comment_reply{
    font-weight: 500;
    padding: 5px 13px;
    cursor: pointer;
}
.comment_reply:hover{
    background-color: rgb(234, 232, 232);
    border-radius: 20px;
}
.comment_like_icon:hover, .comment_dislike_icon:hover{
    background-color: rgb(234, 232, 232);
    border-radius: 20px;
}
.comment_dislike_icon{
    margin-left: 5px;
    margin-right: 13px;
    align-self: flex-end;
}
.comment_reply_section{
    display: flex;
    align-items: center;
    color:rgb(25, 25, 250);
    background-color: transparent;
    cursor: pointer;
    padding: 10px 15px;
    border:none;
    font-weight: 700;
    font-size: 14px;
    padding-right: 17px;
    margin-left: 7px;
}
.comment_reply_section:hover{
    background-color: #DEF1FF;
    border-radius: 20px;
}
.comment_reply_icon{
    margin-right: 10px;
}
#comment_channel_tooltip{
    position: absolute;
    top:-55px;
    white-space: nowrap;
    background-color: rgb(65, 65, 65);
    font-size: 12px;
    font-weight: 300;
    color:white;
    padding: 8px 7px 8px 7px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}
.comment_channel_name:hover #comment_channel_tooltip{
    opacity: 1;
}
.comment_element_options{
    width:18px;
    position: absolute;
    right:25px;
    top: 15px;
    opacity: 0;
    transition: opacity 0.15s;
}
.comment_element:hover .comment_element_options{
    opacity: 1;
}
#second_comment_element_channel_img{
    background-color: #4C2A9C;
    color:white;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-right: 18px;
}
#fifth_comment_element_channel_img{
    background-color: #00579C;
    color:white;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-right: 18px;
}
#sixth_comment_element_channel_img{
    background-color: #C2175B;
    color:white;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-right: 18px;
}